#conteudo-evento{
    width: 100%;
    margin: auto;
}
.item-evento img{
    width: 300px;
}
.item-evento{
    float: left;
    margin: 10px;
    font: 10px Elvetica, sans-serif;
}
.descricao{
    background-color:#1b4ea1;
    width: 300px;
    color: #fff;
    padding: 10px 0px 10px 10px;
    font: 9px Elvetica, sans-serif;
    height: 50px;
    text-align: center;
}
.titulo{
    font: 10px Elvetica, sans-serif;
}


#conteudo{
    margin: 10px;
}
#imagem{
    text-align: center;
}
#imagem img{
    width: 100%;
}
#feintec{
    font: 25px Elvetica, sans-serif;
    font-size:23px;
    color: #333	;
    margin: 30px 0px 30px 0px;
}
#sobre-evento p{
    color: #333	;
    font: 20px Elvetica, sans-serif;
}
#edicoes{
    color: #333	;
}
#edicoes img{
    float: left;
}
i.glyphicon{
    font-size:15px;
    color: lightgray;
}
h4{
   color: #333	; 
}
#edicoes{
    width: 100%;
    margin: auto;
}
.item-evento-descricao{
    float: left;
    margin: 10px;
    font: 10px Elvetica, sans-serif;
}
.item-evento-descricao img{
    width: 250px;
}
.descricao-evento{
    background-color:#1b4ea1;
    width: 250px;
    color: #fff;
    padding: 10px 0px 10px 10px;
    font: 9px Elvetica, sans-serif;
    height: 50px;
}
.data{
    float: left;
    border-right: solid #fff 2px;
    margin-right: 1px;
    font: 25px Elvetica, sans-serif;
    padding-right: 1px;
}


#imagem_evento{
    float: left;
    border-right: 1px solid #000;
    width: 60%;
    text-align: center;
}
#imagem_evento img{
    width: 200px;
    margin: 5px;
}
#painel_evento{
    float: left;
    width: 40%;
    text-align: center;
}
.item-evento-descricao-painel{
    float: left;
    padding: 5px;
    font: 10px Elvetica, sans-serif;
    text-align: center;
    
}
.item-evento-descricao-painel img{
    width: 250px;
    text-align: center;
}

@media screen and (max-width: 735px){
    #imagem_evento{
        width: 100%;
        border-right: 0px;
    }
    #painel_evento{
        width: 100%;
        margin: auto;
    }
}