<html>

	<head>
		<title>Institucional</title>
		<link rel="stylesheet" href="../css/institucional.css">
		<meta charset="utf-8"; />
	</head>
	
	<body>
		
		<center>
			<div class="institucional"><h1>institucional</h1></div>
		
			<div class="banner"> <img src="../imagens/institucional/escola.png" class="img-responsive" height="100%"; width="100%"></div>
		
			<div class="titulo_texto"><h1>A instituição</h1></div>
			
			<div class="instituicao_texto">
				<p>	Mais do que formar profissionais capazes empreendedores, a Escola Técnica
				Estadual MonteiroLobato visa fazer com que o acadêmico reflita sobre o papel
				de cidadão dentro da sociedade em que está inserido. Assim. O CIMOL intiga em seu
				aluno a capacidade de buscar novas ideias para melhorar o  ambiente onde vive.</p>
				<a href="">ler mais</a>
			</div>
			
			<div class="bloco_integrados">
			
				<div class="imagem"> <img src="../imagens/institucional/integrados.png" height="100%"; width="100%"> </div>
				<div class="texto"><h1>CURSOS TÉCNICOS INTEGRADOS</h1>
				<h1>Design de Móveis; Eletrônica; Informática; Mecânica; Meio Ambiente; Moveis; Quimica;
				<p><a href="">ver mais</a></h1></p>
				</div>
			
			</div>
			
			<div class="bloco_subsequentes">
			
				<div class="imagem"> <img src="../imagens/institucional/subsequentes.jpg" height="100%"; width="100%"> </div>
				<div class="texto"><p><h1>CURSOS TÉCNICOS SUBSEQUENTES</h1></p>
				<h1>Design de Móveis; Eletrônica; Informática; Mecânica; Meio Ambiente; Moveis; Quimica;
				<p><a href="">ver mais</a></h1></p>
				</div>
			
			</div>
			
			<div class="bloco_historia">
			
				<div class="imagem"> <img src="../imagens/institucional/historia.png" height="100%"; width="100%"> </div>
				<div class="texto"><p><h1>HISTÓRICO DA INSTITUIÇÃO</h1></p>
				<h1>No ano de 1960, Harald Albert Bauer, Arnaldo de Freitas e Fernando Sperb iniciaram um trabalho que culminaria,
				inicialmente com a fundação de um Ginasio Industrial...
				<p><a href="">ver mais</a></h1></p>
				</div>
			
			</div>
			
		</center>
		
	</body>


</html>