<html>
	<head>
	
		<title>Notica_aberta</title>
		<link rel="stylesheet" href="../css/noticia_aberta.css">
		<meta charset="UTF-8"; />
		
	</head>
	
		<section>
		
			<center>
			
				<div class="banner">
					
					<img src="../imagens/noticia/errata.png" height="100%"; width="100%">
					
				</div>
				
				<div class="titulo_noticia">
				
					<h1>ERRATA Gabarito prova seleção</h1>
					<h2>Correção da prova de seleção na modalidade Técnico Integrado.</h2>
					<h6>07 DEZ 2016</h6>
				
				</div>
				
				<div class="noticia_texto">
				
					<div class="titulo_noticia">
					
						<h3>ERRATA - Gabarito corrigido da prova de seleção na modalidade Técnico Integrado.</h3>
						
					</div>
					
					<div class="noticia">
					
						<h3>Em virtude de marcações equivocadas no Gabarito da Prova de Seleção na modalidade Técnico Integrado
						referente ás questões de número 2, 4 e 8. estamos divulgando o gbarito corrigido -ERRATA - 07/12/2016.</h3>
					
					</div>
					
					<div class="download">
					
						<h3>Gabarito atualizado <a href="">aqui.</a></3>
						
					</div>
					
				</div>
			
			</center>
			
		</section>
	
</html>