<html>
<head>
<title>Noticias</title>
<link rel="stylesheet" href="../CSS/noticia.css">
<meta charset="UTF-8"; />
</head>
	<section id="noticias">
	
		
		
			<div class="banner"><h4>noticias<h4></div>
			
		
				<div class="noticia">
				
					<div class="imagem">
						
						<img src="../imagens/noticia/aprovados.png" height="100%"; width="100%">
				
					</div>
					
						<div class="texto">
					
							<h1><strong>LISTA DE APROVADOS: Divulgado a lista dos aprovados na prova de admissao p/ os cursos tecnicos CIMOL.</strong>
							<a href="";><p class="saibaMais">saiba mais</p></a></h1>
						
						</div>
					
				</div>
			
			
				
			
				<div class="noticia">
			
					<div class="imagem">
					
						<img src="../imagens/noticia/convocacao.png" height="100%"; width="100%">
					
					</div>
				
						<div class="texto">
				
							<h1><strong>CONVOCACAO AOS ALUNOS PARA 13/12/16: O cimol convoca todos os alunos dos primeiros anos dos cursos tecnicos Integrados para virem a Escola em 13/12/16. Confira os horarios...</strong>
							<a href="";><p class="saibaMais">saiba mais</p></a></h1>
						
						</div>
				
				</div>
			
			
			
				<div class="noticia">
			
						<div class="imagem">
					
							<img src="../imagens/noticia/feintec.png" height="100%"; width="100%">
					
						</div>
				
							<div class="texto">
				
								<h1><strong>FEINTEC - INSCREVA-SE: O comeco pode ter muitas sesacoes. Inscricoes de 03 a 07 de outubro de 2016 em...</strong>
								<a href="";><p class="saibaMais">saiba mais</p></a></h1>
						
							</div>
				
				</div>
			
				
			
				<div class="noticia">
			
					<div class="imagem">
					
						<img src="../imagens/noticia/inscricoes.png" height="100%"; width="100%">
					
					</div>
				
						<div class="texto">
				
							<h1><strong>ABERTAS AS INSCRICOES PARA INGRESSO: Abertas inscricoes para ingresso 2017/1-Cursos Integrados e noturnos. De 07 a 30 de novembro.</strong>
							<a href="";><p class="saibaMais">saiba mais</p></a></h1>
						
						</div>
				
				</div>
			
			
			
				<div class="noticia">
			
					<div class="imagem">
					
						<img src="../imagens/noticia/errata.png" height="100%"; width="100%">
					
					</div>
				
						<div class="texto">
				
							<h1><strong>ERRATA Gabarito prova seleçao : Correcao da prova de selecao na modalidade Tecnico Integrado.</strong>
							<a href="noticia_aberta.html";><p class="saibaMais">saiba mais</p></a></h1>
						
						</div>
				
				</div>
			
		
	</section>

</html>