<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>Eventos</title>
        <meta name="author" content="Ana Thais">
        <link rel="stylesheet"  href="./css/style.css" media="screen" >
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" >
    </head>
    <body>
        <div id="conteudo-evento">
            <div class="item-evento">
                <img src="images/oficina_robotica.png"/>
                <div class="descricao">
                    <div class="titulo"><strong>OFICINA DE ROBÓTICA</strong></div> 
                    Aprenda robótica para iniciantes
                </div>                
            </div>
            <div class="item-evento">
                <img src="images/campeonato_robotica.png"/>
                <div class="descricao">
                    <div class="titulo"><strong>CAMPEONATO DE ROBÓTICA</strong></div> 
                    Sumô robótico
                </div>
            </div>
            <div class="item-evento">
                <img src="images/farroupilha_evento.png"/>
                <div class="descricao">
                    <div class="titulo"><strong>FESTEJOS FARROUPILHAS</strong></div> 
                    Churrascos e horas cívicas
                </div>
            </div>


            <div class="item-evento">
                <img src="images/design_transcedental.png"/>
                <div class="descricao">
                    <div class="titulo"><strong>SEMANA DO DESIGN</strong></div> 
                    Workshops voltados à área
                </div>
            </div>
            <div class="item-evento">
                <img src="images/feintec_evento.png"/>
                <div class="descricao">
                    <div class="titulo"><strong>FEINTEC</strong></div> 
                    Feira de inovação tecnológica
                </div>
            </div>

            <div class="item-evento">
                <img src="images/oscar.png"/>
                <div class="descricao">
                    <div class="titulo"><strong>OSCAR CIMOL</strong></div> 
                    Quarta edição da premiação dos melhores filmes baseados em livros
                </div>
            </div>
        </div>            
    </body>
</html>