<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no"/>
        <title>Visualizar eventos</title>
        <link rel="stylesheet"  href="./css/style.css" media="screen" />
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    </head>
    <body>
        
        <div id="conteudo">
        
            <div id="imagem">
                <img src="images/feintec logo desktop.png"/>
            </div>

            <div id="feintec">
                <p><strong>FEINTEC</strong></p>
            </div>
            

            <div id="sobre-evento">
                <p><strong>SOBRE O EVENTO</strong></p>
                <p>A FEINTEC é uma iniciativa da Escola Tecnica Monteiro Lobato que tem por objetivo incentivar
                    os alunas a desenvolverem projetos de pesquisa que visem despertar o espírito científico e 
                    o interesse pela inovação tecnológica, contribuindo assim com o avanço científico da sociedade
                    a partir da prática escolar.
                </p>
                <p>
                    Nesse sentido, a feiraenvolve alunos dos cursos médio e técnico com a finalidade de promover a 
                    socialização e a troca de saberes. A FEINTEC estimula o fortalecimento do conhecimento e é 
                    através desta que obteremos um lugar de destaque no cenário tecnológico estadual.
                </p>
            </div>

            <div id="edicoes">
                <h4><strong>EDIÇÕES</strong></h4>
            </div>
            
                <div class="item-evento-descricao">
                    <a href="#">
                        <img src="images/feintec.png"/>
                        <div class="descricao-evento">
                            <div class="data"><strong>06 NOV</strong></div>
                            <div class="titulo"><strong>9ª FEINTEC</strong></div> 
                            Feira de inovação tecnológica
                        </div>    
                    </a>
                </div>
                
                <div class="item-evento-descricao">
                    <a href="#">
                        <img src="images/feintec.png"/>
                        <div class="descricao-evento">
                            <div class="data"><strong>06 NOV</strong></div>
                            <div class="titulo"><strong>8ª FEINTEC</strong></div> 
                            Feira de inovação tecnológica
                        </div> 
                    </a>
                </div>
                <div class="item-evento-descricao">
                    <a href="#">
                        <img src="images/feintec.png"/>
                        <div class="descricao-evento">
                            <div class="data"><strong>06 NOV</strong></div>
                            <div class="titulo"><strong>7ª FEINTEC</strong></div> 
                            Feira de inovação tecnológica
                        </div>
                    </a>
                </div>
                <div class="item-evento-descricao">
                    <a href="#">
                        <img src="images/feintec.png"/>
                        <div class="descricao-evento">
                            <div class="data"><strong>06 NOV</strong></div>
                            <div class="titulo"><strong>6ª FEINTEC</strong></div> 
                            Feira de inovação tecnológica
                        </div>
                    </a>
                </div>

                <div class="item-evento-descricao">
                    <a href="#">
                        <img src="images/feintec.png"/>
                        <div class="descricao-evento">
                            <div class="data"><strong>06 NOV</strong></div>
                            <div class="titulo"><strong>5ª FEINTEC</strong></div> 
                            Feira de inovação tecnológica
                        </div>
                    </a>
                </div>
                <div class="item-evento-descricao">
                    <a href="#">
                        <img src="images/feintec.png"/>
                        <div class="descricao-evento">
                            <div class="data"><strong>06 NOV</strong></div>
                            <div class="titulo"><strong>FEINTEC</strong></div> 
                            Feira de inovação tecnológica
                        </div>
                    </a>
                </div>

                <div class="item-evento-descricao">
                    <a href="#">
                        <img src="images/feintec.png"/>
                        <div class="descricao-evento">
                            <div class="data"><strong>06 NOV</strong></div>
                            <div class="titulo"><strong>4ª FEINTEC</strong></div> 
                            Feira de inovação tecnológica
                        </div>
                    </a>
                </div>
                <div class="item-evento-descricao">
                    <a href="#">
                        <img src="images/feintec.png"/>
                        <div class="descricao-evento">
                            <div class="data"><strong>06 NOV</strong></div>
                            <div class="titulo"><strong>3ª FEINTEC</strong></div> 
                            Feira de inovação tecnológica
                        </div>
                    </a>
                </div>
                <div class="item-evento-descricao">
                    <a href="#">
                        <img src="images/feintec.png"/>
                        <div class="descricao-evento">
                            <div class="data"><strong>06 NOV</strong></div>
                            <div class="titulo"><strong>2ª FEINTEC</strong></div> 
                            Feira de inovação tecnológica
                        </div>
                    </a>
                </div>
                <div class="item-evento-descricao">
                    <a href="#">
                        <img src="images/feintec.png"/>
                        <div class="descricao-evento">
                            <div class="data"><strong>06 NOV</strong></div>
                            <div class="titulo"><strong>1ª FEINTEC</strong></div> 
                            Feira de inovação tecnológica
                        </div>
                    </a>
                </div>
                
            
        </div>
    </body>
</html>