<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>CIMOL</title>
	<link rel="stylesheet" href="./css/style.css" />
	<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
	
</head>
<body>
	<header>
		<div id="nav">
			<img onclick="expandirMenu()" src = "./imagens/threelines.png" alt = "menu"/>
			<script>
			function expandirMenu(){
			var menu = document.getElementById("mobile");
			if(menu.style.display=='none'){
				menu.style.display='block';
			}
			else{
				menu.style.display='none';
			}
			}
			</script>
		</div>
		<div id="escola"> 
			<img src = "./imagens/img-logo-MOBILE.png" alt = "escola"/>
		</div>
		<nav id="desktop"> 
			<ul>
				<li><a href="#">INÍCIO</a></li>
				<li><a href="#">CURSOS</a></li>
				<li><a href="#">INSTITUCIONAL</a></li>
				<li><a href="#">NOTÍCIAS</a></li>
				<li><a href="#">ÁREA DO ESTAGIÁRIO</a></li>	
	        <ul>
		</nav>
		<div id="busca">
			<div class="login" >
			<a href="index.html">ENTRAR</a>
			</div>
		</div>
	</header>
	
	<nav id="mobile" style="display: none;">
		<ul>
			<li><a href="#">INÍCIO</a></li>
			<li><a href="#">CURSOS</a></li>
			<li><a href="#">INSTITUCIONAL</a></li>
			<li><a href="#">NOTÍCIAS</a></li>
			<li><a href="#">ÁREA DO ESTAGIÁRIO</a></li>
			<li class="subMenu"><a href="#">REDES SOCIAIS</a>
            	<ul>
                <li><a href="#">FACEBOOK</a></li>
                <li><a href="#">GMAIL</a></li>
                <li><a href="#">MOODLE</a></li>
                </ul>
            </li>
            <li class="subMenu"><a href="#">STATUS</a>
            	<ul>
                <li><a href="#">VISITANTE</a></li>
                <li><a href="#">PROFESSOR</a></li>
                <li><a href="#">ALUNO</a></li>
                <li><a href="#">COORDENADOR</a></li>
                </ul>
            </li>
         <ul>
	</nav>
	<div id="section">
		<div id="notPrincipal">
			<img src = "./imagens/image_large.jpg" alt = "noticia"/>
			<h2>LISTA DE APROVADOS: Divulgada a lista de aprovados na prova de admissão para os cursos técnicos do CIMOL.</h2>
		</div>
		<div id="noticias">
		<div id="conteiner">
			<img src = "./imagens/09-13-2016_14-04-06-0.jpg" alt = "noticia"/>
			<h2>3ª SEMANA DO DESIGN</h2>
			<a>De 26 a 30 de setembro de 2016, com palestras, visitas técnicas, work-shops e mostra de projetos</a>
		</div>
		<div id="conteiner">
			<img src = "./imagens/07-28-2016_17-33-56-3.jpg" alt = "noticia"/>
			<h2>CONVOCAÇÃO DOS ALUNOS PARA 23/12/2016</h2>
			<a>O Cimol convoca todos os alunos dos primeiros anos para virem a escola na data referida</a>
		</div>
		<div id="conteiner">
			<img src = "./imagens/01-11-2016_16-37-40-0.jpg" alt = "noticia"/>
			<h2>LISTA DE APROVADOS</h2>
			<a>De 26 a 30 de setembro de 2016, com palestras, visitas técnicas, work-shops e mostra de projetos</a>
		</div>
		<div id="conteiner">
			<img src = "./imagens/01-11-2016_16-04-11-1.jpg" alt = "noticia"/>
			<h2>LISTA DE APROVADOS</h2>
			<a>De 26 a 30 de setembro de 2016, com palestras, visitas técnicas, work-shops e mostra de projetos</a>
		</div>
		</div>
	</div>
	<div id="footer">
		<img class="logo" src = "./imagens/logo.png" alt = "logo"/>
		<a>Rua Guilherme Lahm, 1778, Centro - Taquara - RS - Brasil | 95600-000 | (51) 3542 1309</a>
		<img class="rodape" src = "./imagens/adorno_rodape.png" alt = "rodape"/>
	</div>
</body>
</html>